.novu {
  :where(.novu *),
  :where(.novu *) ::before,
  :where(.novu *) ::after,
  :where(.novu)::before,
  :where(.novu)::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }

  :where(html, :host) {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
    tab-size: 4; /* 3 */
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji'; /* 4 */
    font-feature-settings: normal; /* 5 */
    font-variation-settings: normal; /* 6 */
    -webkit-tap-highlight-color: transparent; /* 7 */
  }

  :where(body),
  :where(body *) ::before,
  :where(body *) ::after,
  :where(body)::before,
  :where(body)::after {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
  }

  :where(hr),
  :where(hr *) ::before,
  :where(hr *) ::after,
  :where(hr)::before,
  :where(hr)::after {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }

  :where(abbr:where([title])),
  :where(abbr:where([title]) *) ::before,
  :where(abbr:where([title]) *) ::after,
  :where(abbr:where([title]))::before,
  :where(abbr:where([title]))::after {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  :where(h1, h2, h3, h4, h5, h6),
  :where(h1, h2, h3, h4, h5, h6) * ::before,
  :where(h1, h2, h3, h4, h5, h6) * ::after,
  :where(h1, h2, h3, h4, h5, h6)::before,
  :where(h1, h2, h3, h4, h5, h6)::after {
    font-size: inherit;
    font-weight: inherit;
  }

  :where(a),
  :where(a *) ::before,
  :where(a *) ::after,
  :where(a)::before,
  :where(a)::after {
    color: inherit;
    text-decoration: inherit;
  }

  :where(b, strong),
  :where(b, strong) * ::before,
  :where(b, strong) * ::after,
  :where(b, strong)::before,
  :where(b, strong)::after {
    font-weight: bolder;
  }

  :where(code, kbd, samp, pre),
  :where(code, kbd, samp, pre) * ::before,
  :where(code, kbd, samp, pre) * ::after,
  :where(code, kbd, samp, pre)::before,
  :where(code, kbd, samp, pre)::after {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; /* 1 */
    font-feature-settings: normal; /* 2 */
    font-variation-settings: normal; /* 3 */
    font-size: 1em; /* 4 */
  }

  :where(small),
  :where(small *) ::before,
  :where(small *) ::after,
  :where(small)::before,
  :where(small)::after {
    font-size: 80%;
  }

  :where(sub, sup),
  :where(sub, sup) * ::before,
  :where(sub, sup) * ::after,
  :where(sub, sup)::before,
  :where(sub, sup)::after {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  :where(sub),
  :where(sub *) ::before,
  :where(sub *) ::after,
  :where(sub)::before,
  :where(sub)::after {
    bottom: -0.25em;
  }

  :where(sup),
  :where(sup *) ::before,
  :where(sup *) ::after,
  :where(sup)::before,
  :where(sup)::after {
    top: -0.5em;
  }

  :where(table),
  :where(table *) ::before,
  :where(table *) ::after,
  :where(table)::before,
  :where(table)::after {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }

  :where(button, input, optgroup, select, textarea),
  :where(button, input, optgroup, select, textarea) * ::before,
  :where(button, input, optgroup, select, textarea) * ::after,
  :where(button, input, optgroup, select, textarea)::before,
  :where(button, input, optgroup, select, textarea)::after {
    font-family: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    letter-spacing: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
  }

  :where(button, select),
  :where(button, select) * ::before,
  :where(button, select) * ::after,
  :where(button, select)::before,
  :where(button, select)::after {
    text-transform: none;
  }

  :where(button, input:where([type='button']), input:where([type='reset']), input:where([type='submit'])),
  :where(button, input:where([type='button']), input:where([type='reset']), input:where([type='submit'])) * ::before,
  :where(button, input:where([type='button']), input:where([type='reset']), input:where([type='submit'])) * ::after,
  :where(button, input:where([type='button']), input:where([type='reset']), input:where([type='submit']))::before,
  :where(button, input:where([type='button']), input:where([type='reset']), input:where([type='submit']))::after {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }

  :where(:-moz-focusring),
  :where(:-moz-focusring) * ::before,
  :where(:-moz-focusring) * ::after,
  :where(:-moz-focusring)::before,
  :where(:-moz-focusring)::after {
    outline: auto;
  }

  :where(:-moz-ui-invalid),
  :where(:-moz-ui-invalid) * ::before,
  :where(:-moz-ui-invalid) * ::after,
  :where(:-moz-ui-invalid)::before,
  :where(:-moz-ui-invalid)::after {
    box-shadow: none;
  }

  :where(progress),
  :where(progress *) ::before,
  :where(progress *) ::after,
  :where(progress)::before,
  :where(progress)::after {
    vertical-align: baseline;
  }

  :where(::-webkit-inner-spin-button, ::-webkit-outer-spin-button),
  :where(::-webkit-inner-spin-button, ::-webkit-outer-spin-button) * ::before,
  :where(::-webkit-inner-spin-button, ::-webkit-outer-spin-button) * ::after,
  :where(::-webkit-inner-spin-button, ::-webkit-outer-spin-button)::before,
  :where(::-webkit-inner-spin-button, ::-webkit-outer-spin-button)::after {
    height: auto;
  }

  :where([type='search']),
  :where([type='search']) * ::before,
  :where([type='search']) * ::after,
  :where([type='search'])::before,
  :where([type='search'])::after {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  :where(::-webkit-search-decoration) {
    -webkit-appearance: none;
  }

  :where(::-webkit-file-upload-button) {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  :where(summary),
  :where(summary *) ::before,
  :where(summary *) ::after,
  :where(summary)::before,
  :where(summary)::after {
    display: list-item;
  }

  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre),
  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre) * ::before,
  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre) * ::after,
  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre)::before,
  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre)::after {
    margin: 0;
  }

  :where(fieldset),
  :where(fieldset *) ::before,
  :where(fieldset *) ::after,
  :where(fieldset)::before,
  :where(fieldset)::after {
    margin: 0;
    padding: 0;
  }

  :where(legend),
  :where(legend *) ::before,
  :where(legend *) ::after,
  :where(legend)::before,
  :where(legend)::after {
    padding: 0;
  }

  :where(ol, ul, menu),
  :where(ol, ul, menu) * ::before,
  :where(ol, ul, menu) * ::after,
  :where(ol, ul, menu)::before,
  :where(ol, ul, menu)::after {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  :where(dialog),
  :where(dialog *) ::before,
  :where(dialog *) ::after,
  :where(dialog)::before,
  :where(dialog)::after {
    padding: 0;
  }

  :where(textarea),
  :where(textarea *) ::before,
  :where(textarea *) ::after,
  :where(textarea)::before,
  :where(textarea)::after {
    resize: vertical;
  }

  :where(input::-moz-placeholder, textarea::-moz-placeholder) {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }

  :where(input::placeholder, textarea::placeholder) {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }

  :where(button, [role='button']) {
    cursor: pointer;
  }

  :where(:disabled) {
    cursor: default;
  }

  :where(img, svg, video, canvas, audio, iframe, embed, object),
  :where(img, svg, video, canvas, audio, iframe, embed, object) * ::before,
  :where(img, svg, video, canvas, audio, iframe, embed, object) * ::after,
  :where(img, svg, video, canvas, audio, iframe, embed, object)::before,
  :where(img, svg, video, canvas, audio, iframe, embed, object)::after {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
  }

  :where(img, video),
  :where(img, video) * ::before,
  :where(img, video) * ::after,
  :where(img, video)::before,
  :where(img, video)::after {
    max-width: 100%;
    height: auto;
  }

  :where([hidden]) {
    display: none;
  }

  :where(*, ::before, ::after) {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
  }

  :where(::backdrop) {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
