{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-env"
  ],
  "plugins": ["babel-plugin-styled-components", [
    "@babel/plugin-transform-runtime",
    {
      "regenerator": true
    }
  ]]
}
