auto-install-peers=true
strict-peer-dependencies=false
fetch-retry-maxtimeout=10000
enable-pre-post-scripts=true

registry=https://registry.npmjs.org/

@novu:registry=https://artifactory.dunnhumby.com/artifactory/api/npm/npm-remote/
@jsr:registry=https://npm.jsr.io/

# Set ARTIFACTORY_TOKEN environment variable and uncomment the line below
#//artifactory.dunnhumby.com/artifactory/api/npm/npm-remote/:_authToken=${ARTIFACTORY_TOKEN}
