auto-install-peers=true
strict-peer-dependencies=false
fetch-retry-maxtimeout=10000
hoist-pattern[]=!@types/react
hoist-pattern[]=!react
hoist-pattern[]=!react-dom
hoist-pattern[]=!next
hoist-pattern[]=!@mantine/*
