.text-monospace {
  font-family: @code-family !important;
}

// Alignment

.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: @screen-sm) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: @screen-md) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: @screen-lg) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: @screen-xl) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-light    { font-weight: @font-weight-light !important; }
.font-weight-lighter  { font-weight: @font-weight-lighter !important; }
.font-weight-normal   { font-weight: @font-weight-normal !important; }
.font-weight-semibold { font-weight: @font-weight-semibold !important; }
.font-weight-bold     { font-weight: @font-weight-bold !important; }
.font-weight-bolder   { font-weight: @font-weight-bolder !important; }
.font-italic          { font-style: italic !important; }

// Contextual colors

.text-white { color: @white !important; }


.text-body { color: @text-color !important; }
.text-muted { color: @text-muted !important; }

.text-black-50 { color: fade(@black, 50%) !important; }
.text-white-50 { color: fade(@white, 50%) !important; }

// Misc
.text-decoration-none { text-decoration: none !important; }

.text-break {
  word-break: break-word !important; // IE & < Edge 18
  overflow-wrap: break-word !important;
}

// Reset

.text-reset { color: inherit !important; }

// Font sizes

.font-size-xxl {
  font-size: @heading-1-size !important;
}

.font-size-xl {
  font-size: @heading-2-size !important;
}

.font-size-lg {
  font-size: @heading-3-size !important;
}

.font-size-md {
  font-size: @heading-4-size !important;
}

.font-size-base {
  font-size: @font-size-base !important;
}

.font-size-sm {
  font-size: @heading-5-size !important;
}

.font-size-xs {
  font-size: @heading-6-size !important;
}
