/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import 'fonts';
@import 'variables';
@import 'dark';
@import 'light';

:root {
  --ifm-font-family-monospace: 'Brother-1816';
  --ifm-font-family-base: 'Brother-1816';
  --ifm-color-primary: #00d5ff;
  --ifm-footer-link-color: #ffffff;
  --ifm-code-font-size: 95%;
  --ifm-line-height-base: 1.5;
  --doc-sidebar-width: 340px !important;
  --ifm-menu-link-padding-vertical: 8px;
  --ifm-menu-link-padding-horizontal: 20px;
}

body {
  font-weight: var(--ifm-font-weight-light);
  font-size: 18px;
}

article,
.pagination-nav {
  max-width: 860px;
  margin: 0 auto;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__item {
  display: flex;
  align-items: center;

  svg {
    display: none;
  }
}

.navbar-item-discord:before,
.navbar-item-github:before {
  display: flex;
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  content: '';
  justify-items: center;
  margin-right: 0.5rem;
}

.navbar-item-discord:before {
  width: 27px;
  height: 20px;
}

.navbar-item-github:before {
  width: 20px;
  height: 20px;
}

nav.menu {
  padding: 10px 10px 10px 16px;

  .menu__link {
    line-height: 1.375;
  }

  .menu__list-item {
    position: relative;
    > .menu__list {
      font-weight: 300;
      font-size: 14px;
      padding-left: 0;
    }
  }

  .menu__link--sublist-caret:after {
    display: none;
  }

  .menu__link--sublist-caret::before {
    top: 16px;
    position: absolute;
    left: 0;
    content: '';
    background-repeat: no-repeat;
    width: 10px;
    height: 7px;
    background-size: 10px 7px;
    transition: transform var(--ifm-transition-fast) linear;
  }

  .menu__list-item--collapsed .menu__link--sublist::before {
    transform: rotateZ(-90deg);
  }
}

.theme-edit-this-page {
  position: relative;
  padding-left: 28px;
  font-size: 14px;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 20px;
    height: 20px;
  }
  svg {
    display: none;
  }
}

.table-of-contents__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.375;

  ~ ul .table-of-contents__link  {
    font-weight: 300;
  }
}

.pagination-nav__link {
  border: none;
  padding-left: 0;
  padding-right: 0;

  .pagination-nav__sublabel {
    margin-bottom: 8px;
  }

  .pagination-nav__label {
    font-weight: 500;
  }

  &.pagination-nav__link--next .pagination-nav__label::after,
  &.pagination-nav__link--prev .pagination-nav__label::before {
    width: 16px;
    height: 12px;
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
  }

  &.pagination-nav__link--next .pagination-nav__label::after {
    background-image: url('/img/arrow.svg');
    transform: rotateZ(180deg);
    margin-left: 8px;
  }

   &.pagination-nav__link--prev .pagination-nav__label::before {
    background-image: url('/img/arrow.svg');
    margin-right: 8px;
  }
}

.footer {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__title {
    margin-bottom: 5px;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__col {
    margin-right: 80px;
    width: auto;
    max-width: max-content;

    .footer__link-item {
      text-decoration: none;
      font-weight: 400;
    }
  }

  .footer__col:last-child {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .footer__button {
      display: flex;
      align-items: center;
      padding: 7px 20px 7px 12px;
      text-transform: uppercase;
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      font-weight: 500;
      border-radius: 4px;

      &::before {
        align-items: center;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 26px;
        margin-right: 0.5rem;
        width: 26px;
        content: '';
      }
    }
  }

  .footer__item svg {
    display: none;
  }

  .footer__copyright {
    color: $color-gray-8;
    font-size: 14px;
    font-weight: 400;
  }

  .footer__design {
    color: $color-gray-8;
    font-size: 14px;
    font-weight: 400;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $color-primary-blue;
        transition: color 0.2s;
      }
    }
  }
}
