/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import 'fonts';
@import 'variables';
@import 'media-queries';
@import 'dark';
@import 'light';
@import 'search';
@import 'markdown';

:root {
  --ifm-font-family-monospace: 'Brother-1816';
  --ifm-font-family-base: 'Brother-1816';
  --ifm-color-primary: #00d5ff;
  --ifm-footer-link-color: #ffffff;
  --ifm-code-font-size: 16px;
  --ifm-line-height-base: 1.5;
  --ifm-menu-link-padding-vertical: 8px;
  --ifm-menu-link-padding-horizontal: 20px;
  --ifm-heading-font-weight: 500;
  --ifm-toc-padding-vertical: 16px;
  --ifm-navbar-padding-vertical: 12px;
}

body {
  font-weight: 350;
  font-size: 18px;
}

main {
  .container {
    max-width: 100%;
    padding: 0 !important;

   @include mobile-screen {
      padding-top: 20px !important;
    }
    .row {
      margin: 0;

      > .col {
        @include mobile-screen {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .col.col--3 {
        padding: 0;
        padding-left: 40px;

        .theme-doc-toc-desktop {
          height: 100%;
        }
      }
    }
  }
}

.main-wrapper {
  max-width: $container-width;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

article,
.pagination-nav {
  max-width: 796px;
  margin: 0 auto;
}

article {
  margin-top: 48px;

 @include tablet-screen {
    margin-top: 30px;
  }

 @include mobile-screen {
    margin-top: 0;
  }
}

pre code span,
code {
  font-family: 'IBM Plex Mono';
}

pre code:not([class]) {
  display: initial;
}

code {
  color: $color-secondary-purple;
  padding: 1px 6px;
  border: none;
  border-radius: 2px;

  &:not([class]) {
    background-color: rgba(227, 0, 189, 0.1);
    line-height: 1.5;
    font-weight: normal;
    display: inline-block;
    margin-top: -2px;
    font-size: 14px;
  }
}

.theme-code-block {
  &:hover {
    .clean-btn {
      opacity: 1;
    }
  }
  .clean-btn {
    font-size: 16px !important;
    background-color: $color-black;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  height: 65px;

  .navbar__inner {
    position: relative;
    max-width: $container-width;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.navbar__item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;

 @include mobile-screen {
    display: none;
  }

  svg {
    display: none;
  }
}

.navbar-item-discord:before,
.navbar-item-github:before {
  display: flex;
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  content: '';
  justify-items: center;
  margin-right: 0.5rem;
  background-size: contain;
}

.navbar-item-discord:before {
  width: 27px;
  height: 20px;
}

.navbar-item-github:before {
  width: 20px;
  height: 20px;
}

.menu__link {
  svg {
    display: none;
  }
}

.navbar-item-github::before {
 @include mobile-screen {
    width: 27px;
    height: 27px;
  }
}

nav.menu {
  padding: 0;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .menu__link {
    font-size: 16px;
    line-height: 1.375;

    &:not(.menu__link--sublist) {
      font-size: 14px;
    }

    svg {
      display: none;
    }
  }

  .menu__list-item {
    position: relative;
    > .menu__list {
      font-weight: 350;
      font-size: 14px;
      padding-left: 0;
    }
  }

  .menu__link {
    &--sublist-caret:after {
      display: none;
    }

    &--sublist-caret::before {
      top: 16px;
      position: absolute;
      left: 0;
      content: '';
      background-repeat: no-repeat;
      width: 10px;
      height: 7px;
      background-size: 10px 7px;
      transition: transform var(--ifm-transition-fast) linear;
    }
  }

  .menu__list-item--collapsed .menu__link--sublist::before {
    transform: rotateZ(-90deg);
  }
}

.navbar-sidebar {

  &__back {
    margin-left: -16px;
    width: calc(100% + 2rem);
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    font-size: 16px;
  }

  &__item:first-child {
    .menu__list {
      .menu__list-item {
        > .menu__link {
         @include mobile-screen {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .menu__list {
    .menu__link.menu__link--sublist {
      font-size: 16px;
      font-weight: 500;
    }
    .menu__link {
      font-size: 14px;
      font-weight: 350;
    }
  }

  &__item.menu {
    padding-left: 16px;
    padding-right: 16px;

    .menu__list {
      padding-left: 0;
    }

    .menu__link {
      &--sublist-caret:after {
        display: none;
      }

      &--sublist-caret::before {
        top: 16px;
        position: absolute;
        left: 0;
        content: '';
        background-repeat: no-repeat;
        width: 10px;
        height: 7px;
        background-size: 10px 7px;
        transition: transform var(--ifm-transition-fast) linear;
      }
    }
  }
}

.theme-doc-footer-edit-meta-row {
  .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.theme-edit-this-page {
  position: relative;
  padding-left: 28px;
  font-size: 14px;
  transition: color 0.2s;

  &:hover {
    text-decoration: none;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 20px;
    height: 20px;
  }
  svg {
    display: none;
  }
}

.table-of-contents {
  position: relative;
  padding-top: 0;
  padding-top: 40px;

  &::before,
  &::after {
    @include mobile-screen {
      display: none;
    }
  }

  &::before {
    position: absolute;
    width: 16px;
    height: 11px;
    background-repeat: no-repeat;
    content: '';
    top: 24px;
    left: 0;
  }

  &::after {
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 26px;
    content: 'Contents';
    text-transform: uppercase;
  }

  > li {
    margin-left: 0;
  }

  &__left-border {
    border-left: none;
    padding-left: 0;
  }

  &__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.375;

  ~ ul .table-of-contents__link {
      font-weight: 350;
    }
  }
}

.pagination-nav {
  border-top: 1px dashed $color-gray-4;
  padding-top: 32px;
  margin-top: 32px !important;
  margin-bottom: 64px;
}

.pagination-nav__link {
  border: none;
  padding: 0;

  .pagination-nav__sublabel {
    margin-bottom: 8px;
  }

  .pagination-nav__label {
    font-weight: 500;
  }

  &.pagination-nav__link--next .pagination-nav__label::after,
  &.pagination-nav__link--prev .pagination-nav__label::before {
    width: 16px;
    height: 12px;
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
  }

  &.pagination-nav__link--next .pagination-nav__label::after {
    transform: rotateZ(180deg);
    margin-left: 8px;
  }

  &.pagination-nav__link--prev .pagination-nav__label::before {
    margin-right: 8px;
  }
}

.footer {
 @include mobile-screen {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: $container-width;
    padding-left: 16px;
    padding-right: 16px;

   @include mobile-screen {
      max-width: $container-width;
    }

   @include mobile-screen {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  .footer__logo {
    margin-top: 0;
  }

  .footer__title {
    margin-bottom: 5px;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   @include mobile-screen {
      margin-bottom: 10px;
    }
  }

  .footer__col:not(:last-child) {
    margin-right: 80px;
    width: auto;
    max-width: max-content;

   @include mobile-screen {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .footer__link-item {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .footer__col:last-child {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

   @include mobile-screen {
      margin-top: 15px;
      align-items: flex-start;
      margin-bottom: 0;
    }

    .footer__button {
      display: flex;
      align-items: center;
      padding: 7px 20px 7px 12px;
      text-transform: uppercase;
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      font-weight: 500;
      border-radius: 4px;
      transition-property: background-color, color;
      transition-duration: 0.2s;

      &::before {
        align-items: center;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 26px;
        margin-right: 0.5rem;
        width: 26px;
        content: '';
        background-size: contain;
      }
    }
  }

  .footer__links {
    margin-bottom: 0;
    flex-wrap: wrap;

    .footer__link-item {
     @include mobile-screen {
        font-size: 16px;
      }
    }
  }

  .footer__break {
   @include mobile-screen {
      flex-basis: 100%;
      height: 0;
    }
  }

  .footer__item svg {
    display: none;
  }

  .footer__copyright,
  .footer__copyright-mobile {
    color: $color-gray-8;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }

  .footer__copyright {
   @include mobile-screen {
      display: none;
    }
  }

  .footer__copyright-mobile {
    display: none;
   @include mobile-screen {
      display: block;
      margin-top: 36px;
      margin-bottom: 10px;
    }
  }
}
