html[data-theme='dark'] {
  --ifm-background-color: #000000;
  --ifm-hover-overlay: rgba(0, 213, 255, 0.1);
  --ifm-font-color-base: #e6e6e6;

  code:not([class]) {
    background-color: $color-gray-2;
  }

  .navbar {
    background-color: #000;
    border-bottom: 1px solid $color-gray-3;
  }

  .navbar-item-github:before {
    background-image: url('/img/github-white.svg');
  }

  .navbar-item-discord:before {
    background-image: url('/img/discord-white.svg');
  }

  .navbar-sidebar {
    background-color: $color-black;

    &__brand {
      border-bottom: 1px solid $color-gray-3;
    }
  }

  .menu {
    background-color: $color-gray-1;
    border-right: 1px solid $color-gray-3;

    .menu__link {
      color: $color-white;
    
      &--active:not(.menu__link--sublist) {
        color: $color-primary-blue;
      }
    }

    .menu__link--sublist-caret::before {
      background: url('/img/chevron-white.svg');
    }
  }

  .theme-edit-this-page {
    color: $color-white;

    &:hover {
      color: $color-primary-blue;
    }

    &:active {
      color: $color-gray-9;
    }

    &::before {
      background-image: url('/img/github-white.svg');
    }
  }

  .table-of-contents__link {
    color: $color-gray-10;

    &--active {
      color: $color-primary-blue;
    }
  }

  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .footer {
    border-top: 1px solid $color-gray-3;
    background-color: $color-black;

    &.footer--dark {
      --ifm-footer-link-color: #fff;
    }

    a {
      opacity: 100;
    }

    .footer__col {
      .footer__button {
        border: 1px solid $color-gray-5;

        &:hover {
          background-color: #333333;
        }
        
        &::before {
          background-image: url('/img/github-white.svg');
        }
      }
    }
  }
}
