html[data-theme='light'] {
  ---ifm-navbar-background-color: #ffffff;
  --ifm-hover-overlay: rgba(0, 213, 255, 0.1);
  --ifm-font-color-base: #000000;
  --ifm-toc-border-color: #E6E6E6;
  --ifm-link-color: #0055FF;
  --ifm-menu-color-background-active: rgba(227, 0, 189, 0.08);

  main {
    .container {
      .row {
        .col.col--3 {
          border-left: 1px solid $color-gray-10;
        }
      }
    }
  }

  code:not([class]) {
    background-color: #F2F2F2;
  }

  .navbar {
    border-bottom: 1px solid $color-gray-10;
    box-shadow: none;
  }

  .navbar-item-github:before {
    background-image: url('/img/github-black.svg');
  }

  .navbar-item-discord:before {
    background-image: url('/img/discord-black.svg');
  }

  .navbar-sidebar {
    &__brand {
      border-bottom: 1px solid $color-gray-10;
    }
  }

  .menu {
    .menu__link:hover, 
    .menu__caret:hover {
      background: rgba(227, 0, 189, 0.08) !important;
    }

    .menu__list-item-collapsible:hover {
      background-color: transparent;
    }

    .menu__link {
      color: $color-gray-4;
      
      &--active:not(.menu__link--sublist) {
        color: $color-secondary-purple;
        background-color: rgba(227, 0, 189, 0.08);
      }
    }

    .menu__link--sublist-caret::before {
      background: url('/img/chevron-black.svg');
    }
  }

  .theme-edit-this-page {
    color: $color-black;

    &:hover {
      color: $color-primary-blue;
    }

    &:active {
      color: $color-gray-9;
    }

    &::before {
      background-image: url('/img/github-black.svg');
    }
  }

  .table-of-contents {
    &::before {
      background-image: url('/img/contents-black.svg');
    }

    &__link {
      color: $color-gray-4;
  
      &--active {
        color: $color-primary-blue;
      }
    }
  }

  .pagination-nav__link {
    &.pagination-nav__link--next .pagination-nav__label::after,
    &.pagination-nav__link--prev .pagination-nav__label::before {
      background-image: url('/img/arrow-blue.svg');
    }
  }

  .footer {
    background-color: $color-white;
    color: $color-black;
    border-top: 1px solid $color-gray-10;

    a {
      opacity: 100;
    }

    .footer__link-item {
      color: $color-black;

      &:hover {
        color: $color-primary-blue;
      }
    }

    .footer__col {
      .footer__button {
        border: 1px solid $color-gray-5;

        &:hover {
          color: $color-primary-blue;
        }

        &::before {
          background-image: url('/img/github-black.svg');
        }
      }
    }
  }

  .pagination-nav {
    border-top: 1px dashed $color-gray-9;
  }
}
