html[data-theme='light'] {
  ---ifm-navbar-background-color: #ffffff;
  --ifm-hover-overlay: rgba(0, 213, 255, 0.1);
  --ifm-font-color-base: #000000;

  code:not([class]) {
    background-color: #F2F2F2;
  }

  .navbar {
    border-bottom: 1px solid $color-gray-10;
    box-shadow: none;
  }

  .navbar-item-github:hover {
    opacity: 0.6;
  }

  .navbar-item-github:before {
    background-image: url('/img/github-black.svg');
  }

  .navbar-item-discord:before {
    background-image: url('/img/discord-black.svg');
  }

  .navbar-sidebar {
    &__brand {
      border-bottom: 1px solid $color-gray-10;
    }
  }

  .menu {
    border-right: 1px solid $color-gray-10;

    .menu__link {
      color: $color-gray-4;
      
      &--active:not(.menu__link--sublist) {
        color: $color-primary-blue;
      }
    }

    .menu__link--sublist-caret::before {
      background: url('/img/chevron-black.svg');
    }
  }

  .theme-edit-this-page {
    color: $color-black;

    &:hover {
      color: $color-primary-blue;
    }

    &:active {
      color: $color-gray-9;
    }

    &::before {
      background-image: url('/img/github-black.svg');
    }
  }

  .table-of-contents__link {
    color: $color-gray-4;

    &--active {
      color: $color-primary-blue;
    }
  }

  .footer {
    background-color: $color-white;
    color: $color-black;
    border-top: 1px solid $color-gray-10;

    a {
      opacity: 100;
    }

    .footer__link-item {
      color: $color-black;

      &:hover {
        color: $color-primary-blue;
      }
    }

    .footer__col {
      .footer__button {
        border: 1px solid $color-gray-5;

        &:hover {
          color: $color-primary-blue;
        }

        &::before {
          background-image: url('/img/github-black.svg');
        }
      }
    }
  }
}
