.markdown {
  h1,
  h1:first-child {
    font-size: 40px;
  }

  > h2 {
    font-size: 30px;
  }

  > h3 {
    font-size: 24px;
    font-weight: 400;
  }

  > h4 {
    font-size: 18px;
    font-weight: 500;
  }

  strong {
    font-weight: 500;
  }
}