.markdown {
  h1,
  h1:first-child {
    font-size: 40px;
  }

  > h2 {
    font-size: 30px;
  }

  > h3 {
    font-size: 24px;
    font-weight: 400;
  }

  > h4 {
    font-size: 18px;
    font-weight: 500;
  }

  strong {
    font-weight: 500;
  }

  table {
    th,
    td {
      border: none
    }

    thead {
      background-color: transparent;

      th {
        font-weight: 400;
        text-align: left;
      }

      tr {
        border-bottom: none;
        border-top: none;
      }
    }

    tr:nth-child(2n) {
      background-color: transparent;
    }
  }
}

html[data-theme='dark'] {

}

html[data-theme='light'] {
  table {
    th {
      color: $color-gray-6
    }
  }
}