.DocSearch {
  &.DocSearch-Button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 338px;
    height: 40px;
    width: 100%;
    border-radius: 6px;

   @include mobile-screen {
      position: static;
      transform: translate(0);
    }

    &:hover {
      box-shadow: none;
    }

    .DocSearch-Button-Placeholder {
      font-weight: 350;
    }

    .DocSearch-Button-Key {
      border-radius: 3px;
      height: 20px;
      top: auto;
      box-shadow: none;
      padding-bottom: 0;
    }
  }

  &.DocSearch-Container {
    .DocSearch-Form {
      @include mobile-screen {
        height: 40px;
      }
    }

    .DocSearch-Cancel {
      font-size: 16px;
    }

    .DocSearch-Input {
      @include mobile-screen {
        font-size: 16px;
        line-height: 1;
      }
    }
  }
}

[data-theme='light'] .DocSearch {
  &.DocSearch-Button {
    border: 1px solid $color-gray-9;

    &:hover {
      border: 1px solid $color-primary-blue;
    }

    .DocSearch-Button-Key {
      background: #F5F5F5;
      border: 1px solid #E6E6E6;
    }
  }

  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: #ffffff;
  /* Search box */
  --docsearch-searchbox-background: #ffffff;
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {

  &.DocSearch-Button {
    border: 1px solid $color-gray-5;

    &:hover {
      border: 1px solid $color-primary-blue;
    }

    .DocSearch-Button-Key {
      background: linear-gradient(180deg, #333333 0%, rgba(51, 51, 51, 0.6) 100%);
      border: 1px solid rgba(255, 255, 255, 0.05);
      color: $color-gray-9;
    }
  }
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(13, 13, 13, 0.7);
  /* Modal */
  --docsearch-modal-background: #0d0d0d;
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}