:root {
  @include tablet-screen {
    --doc-sidebar-width: 280px !important;
  }
}

.menu__link {
  svg {
    display: none;
  }
}

nav.menu {
  padding: 0;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  @include tablet-screen {
    margin-right: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .menu__link {
    font-size: 14px;
    line-height: 1.25;
    padding-left: 14px;
    padding-right: 14px;

    svg {
      display: none;
    }

    &:not(.menu__link--sublist) {
      font-size: 14px;
    }

    svg {
      display: none;
    }
  }

  .menu__list-item {
    position: relative;

    &.menu-home {
      display: none;
    }
    > .menu__list {
      font-weight: 350;
      font-size: 14px;
      padding-left: 0;
      margin-left: 14px;
    }
  }

  .menu__link {
    &--sublist-caret:after {
      display: none;
    }

    &--sublist-caret::before {
      top: 14px;
      position: absolute;
      left: -1px;
      content: '';
      background-repeat: no-repeat;
      width: 10px;
      height: 7px;
      background-size: 10px 7px;
      transition: transform var(--ifm-transition-fast) linear;
    }
  }

  .menu__list-item--collapsed .menu__link--sublist::before {
    transform: rotateZ(-90deg);
  }

  .theme-doc-sidebar-menu {
    > .theme-doc-sidebar-item-category:not(:first-child) {
      margin-bottom: 20px;
    }

    .theme-doc-sidebar-item-category-level-1.menu__list-item {
      > .menu__list-item-collapsible,
      > .menu__list-item-collapsible > .menu__link {
        &:hover {
          background-color: transparent !important;
        }

      }
    }
  }
}

html[data-theme='dark'] {
  .menu {
    background-color: $color-gray-1;

    .menu__link {
      color: $color-gray-10;

      &.menu__link--sublist {
        color: $color-white;
      }
    
      &--active:not(.menu__link--sublist) {
        color: $color-primary-blue;
      }
    }

    .menu__link--sublist-caret::before {
      background: url('/img/chevron-white.svg');
    }
  }
}

html[data-theme='light'] {
  .menu {
    .menu__link:hover, 
    .menu__caret:hover {
      background: rgba(227, 0, 189, 0.08) !important;
    }

    .menu__list-item-collapsible:hover {
      background-color: transparent;
    }

    .menu__link {
      color: $color-gray-4;
      
      &.menu__link--sublist {
        color: $color-black;
      }
      
      &--active:not(.menu__link--sublist) {
        color: $color-secondary-purple;
        background-color: rgba(227, 0, 189, 0.08);
      }
    }

    .menu__link--sublist-caret::before {
      background: url('/img/chevron-black.svg');
    }
  }
}