.tabs-container {
  .tabs {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-gray-4;
      z-index: -1;
    }

    &__item {
      font-weight: 400;
      font-size: 16px;
      padding: 12px 18px;
    }

    &__item--active {
      background-color: none;
    }
  }
}

html[data-theme='dark'] {
  .tabs-container {
    .tabs {
      &::after {
        background-color: $color-gray-4;
      }

      &__item {
        color: $color-gray-8;
      }

      &__item--active {
        color: $color-primary-blue;
        border-bottom: 2px solid $color-primary-blue;
      }
    }
  }
}

html[data-theme='light'] {
  .tabs-container {
    .tabs {
      &::after {
        background-color: $color-gray-9;
      }

      &__item {
        color: $color-gray-6;
      }

      &__item--active {
        color: $color-secondary-blue;
        border-bottom: 2px solid $color-secondary-blue;
      }
    }
  }
}
