// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-primary-blue: #00d5ff;
$color-secondary-blue: #0055ff;
$color-secondary-purple: #e300bd;
$color-secondary-yellow: #ffe14d;
$color-gray-1: #0d0d0d;
$color-gray-2: #1a1a1a;
$color-gray-3: #262626;
$color-gray-4: #333333;
$color-gray-5: #4d4d4d;
$color-gray-6: #666666;
$color-gray-8: #999999;
$color-gray-9: #cccccc;
$color-gray-10: #e6e6e6;
$color-gray-11: #f5f5f5;
$color-gray-12: #fafafa;

// Container
$container-width: 1504px;
