.mantine-Modal-modal {
  border-radius: var(--nv-radii-150);
  background-color: var(--nv-colors-surface-panel);
  padding: 0;
  min-height: 100%;
}

.mantine-Tabs-panel {
  padding: var(--nv-spacing-paddings-page-horizontal) var(--nv-spacing-paddings-page-vertical);
  border-radius: var(--nv-radii-150);
  background: var(--nv-colors-surface-panel-subsection);
  overflow-y: auto;
  /* TODO: these 2 are wrong, need to calculate based on available parent size */
  min-height: 938px;
  max-height: 938px;
}

.mantine-Modal-header {
  margin-bottom: 0px;
}

.mantine-Tabs-tabsList {
  border-right: unset;
  background: var(--nv-colors-surface-panel);
  border-radius: var(--nv-radii-150);
}

.mantine-Modal-close {
  position: fixed;
  right: 12px;
  top: 10px;
  z-index: 2;
}

.mantine-Tabs-tab {
  font-weight: var(--nv-font-weights-strong);
  font-family: var(--nv-fonts-system);
  font-size: var(--nv-font-sizes-88);
  color: var(--nv-colors-typography-text-secondary);
  padding: var(--nv-spacing-paddings-components-button-horizontal-xs) var(--nv-spacing-paddings-components-button-horizontal-s);
  margin: var(--nv-spacing-margins-menu-item-item);
  border-radius: var(--nv-radii-75);
  min-width: 204px;

  &:hover {
    color: var(--nv-colors-typography-text-primary);
    background-color: var(--nv-colors-surface-panel-subsection);
  }
}

.mantine-Tabs-tab[data-active="true"] {
  color: var(--nv-colors-typography-text-primary);
  background-color: var(--nv-colors-surface-panel-subsection);
}

.mantine-Tabs-tabIcon {
  margin-right: 8px !important;
}

.mantine-Tabs-tabIcon>svg {
  color: inherit;
}

.mantine-Tabs-tabLabel {
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
