# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# production
build

.npmrc
.idea/*
.nyc_output

test

src/**.js
coverage
*.log
package-lock.json

storybook-static

## Panda
styled-system
styled-system-studio

# react-scanner
src/component-audit/component-scans
