*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  color: #171717;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0a0a0a;
    color: #fafafa;
  }
}
