
@import "~antd/lib/style/color/colorPalette.less";
@import '~antd/lib/style/themes/default.less';
@import "variables";
@import "utilities/utilities.less";

@import "theme/layout";


// ---- WARNING - For changes to take effect the process must be restarted! -----
// antd customization only works with this file, probably an issue with craco-antd
@font-family: 'Lato', sans-serif;

@primary-color: #ff6f61;
@border-radius-base: 4px;
@card-radius: 8px;

@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border
@header-height: 70px;

.dark {
  @import '~antd/dist/antd.dark.less';

  @body-background: #000220;
  @primary-color: #d5b50b;
}


.light {
  @layout-header-background: @white;
  @layout-sider-background-light: @white;
  @layout-trigger-background-light: @white;
  @layout-trigger-color-light: @text-color;

  // Background color for `<body>`
  @body-background:    #fafafb;
  // Base background color for most components
  @component-background: @white;
  // Popover background color
  @popover-background: @component-background;
  @popover-customize-border-color: @border-color-split;

  @border-color-base: #edf2f9; // base border outline a component
  @border-color-split: @border-color-base; // split border inside a component
  @border-color-inverse: @white;
}

:root {
  --primary-color: @primary-color;
}
