.tabsWrapper {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
  }
}

.tabsList {
  position: relative;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 16px;
  padding-bottom: 0;
  border-bottom: 1px solid #333333;
}

.tabItem {
  margin-top: 0 !important;
  margin-bottom: 0
}

.tabButton {
  background-color: transparent;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  transition: color .2s;
  position: relative;
  font-size: 16px;
  font-weight: normal;

  &::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
  }
}

html[data-theme='dark'] {
  .tabsList {
    border-bottom: 1px solid #333333;
  }

  .tabButton {
    color: #999999;

    &.tabActiveButton {
      color: #00D5FF;
      &::after {
        background-color: #00D5FF;
      }
    }

    &:hover {
      color: #00D5FF;
    }

    &::after {
      background-color: #333333;
    }
  }
}

html[data-theme='light'] {
  .tabsList {
    border-bottom: 1px solid #CCCCCC;
  }

  .tabButton {
    color: #666666;

    &.tabActiveButton {
      color: #0055FF;
      &::after {
        background-color: #0055FF;
      }
    }

    &:hover {
      color: #0055FF;
    }

    &::after {
      background-color: #CCCCCC;
    }
  }
}