@import '../css/variables.scss';

:root {
  --color-quickstartslogo-main: #333333;
  --color-quickstartslogo-secondary: white;
}

.quickstartsWrapper {
  margin-top: 32px;

  @media only screen and (max-width: 996px) {
    margin-top: 24px;
  }
}

.quickstartsItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left: 0;

  @media only screen and (max-width: 1400px) {
    grid-gap: 16px;
  }

  @media only screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 479px) {
    grid-template-columns: 1fr;
  }

  & li{
    list-style: none;
  }

  & li + li{
    margin-top: 0;
  }
}

.quickstartsItem {
  position: relative;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid $color-gray-10;
  height: 100%;

  @media only screen and (max-width: 1400px) {
    padding: 20px 16px;
  }

  @media only screen and (max-width: 767px) {
    padding: 20px;
  }

  &:hover{
    text-decoration: none;

    &::before{
      opacity: 1;
    }
  }

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease opacity;
  }

  &__logo{
    position: relative;
    z-index: 10;
    height: 36px;
    width: auto;
  }

  &__title{
    position: relative;
    z-index: 10;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;

    @media only screen and (max-width: 996px) {
      font-size: 18px;
    }
  }

  &__description{
    position: relative;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.375;
    color: $color-gray-6;
  }

  &__more{
    position: relative;
    z-index: 10;
    position: relative;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    column-gap: 8px;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
  }
}

@keyframes buttonUnderline {
  0% {
    transform-origin: right;
    right: 0;
    transform: scaleX(1);
  }
  49% {
    transform-origin: right;
    right: 0;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    right: auto;
    left: 0;
  }
  99%{
    transform-origin: left;
    left: 0;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    right: 0;
    left: auto;
    transform: scaleX(1);
  }
}

.quickstartsButton {
  position: relative;
  margin: 32px auto 0;
  display: block;
  background: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Brother-1816';
  font-size: 14px;
  line-height: 1;
  font-weight: 500;

  @media (max-width: 1400px) {
    margin-top: 24px;
  }

  &:hover{
    &::after{
      animation: buttonUnderline .5s ease-in-out;
    }
  }

  &::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    display: inline-block;
  }
}

html[data-theme='dark'] {
  --color-quickstartslogo-main: #ffffff;
  --color-quickstartslogo-secondary : #333333;

  .quickstartsItem {
    border-color: $color-gray-4;

    &::before{
      background-image: linear-gradient(180deg, $color-gray-2 0%, rgba(26, 26, 26, 0.7) 100%);
    }

    &__title{
      color: $color-white;
    }

    &__description{
      color: $color-gray-9;
    }
  }

  .quickstartsButton {
    color: $color-primary-blue;
    
    &::after{
      background-color: $color-primary-blue;
    }
  }
}

html[data-theme='light'] {
  --color-quickstartslogo-main: #333333;
  --color-quickstartslogo-secondary: #ffffff;

  .quickstartsItem {
    border-color: $color-gray-10;

    &::before{
      background-image: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0.6) 100%);
    }

    &__title{
      color: $color-black;
    }

    &__description{
      color: $color-gray-6;
    }

    &__more{
      &::after{
        background-image: url('/img/arrow-blue.svg');
      }
    }
  }

  .quickstartsButton {
    color: $color-secondary-blue;
    
    &::after{
      background-color: $color-secondary-blue;
    }
  }
}
