@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 32% 8%;

    --card: 0 0% 98%;
    --card-foreground: 222 32% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 32% 8%;

    --novu: 346 73% 50%;
    --novu-foreground: 0 0% 100%;

    --primary: 222 32% 8%;
    --primary-foreground: 0 0% 100%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 222 32% 8%;

    --destructive: 355 96% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 148 72% 44%;

    --warning: 20 100% 64%;

    --feature: 256 88% 64%;

    --information: 228 100% 60%;

    --highlighted: 330 96% 64%;

    --stable: 172 72% 48%;

    --stroke: 222 32% 8%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 222 32% 8%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
