/.eslintcache
/models
/models/errors
/types
/node_modules
/lib
/sdk
/funcs
/react-query
/hooks
/docs
/sources/json-development.json
/.speakeasy/gen.lock
/.speakeasy/workflow.lock
/*.md
/index.*
/core.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
/__tests__
/.speakeasy/reports
