**/*
!/FUNCTIONS.md
!/RUNTIMES.md
!/REACT_QUERY.md
!/**/*.ts
!/**/*.js
!/**/*.mjs
!/package.json
!/jsr.json
!/dist/**/*.json
!/esm/**/*.json
!/**/*.map

/eslint.config.mjs
/.oxlintrc.json
/cjs
/.tshy
/.tshy-*
/__tests__
