VITE_SENTRY_DSN=
VITE_LAUNCH_DARKLY_CLIENT_SIDE_ID=
VITE_HUBSPOT_EMBED=
VITE_API_HOSTNAME=http://localhost:3000
VITE_WEBSOCKET_HOSTNAME=http://localhost:3002
VITE_CLERK_PUBLISHABLE_KEY=
VITE_NOVU_APP_ID=
VITE_INTERCOM_APP_ID=
VITE_GTM=
VITE_SELF_HOSTED=
VITE_PLAIN_SUPPORT_CHAT_APP_ID=
