{
  "*.{js,jsx,tsx,html,css,scss,md,mdx}": "prettier --write",
  "*.{js,jsx,tsx}": "eslint --cache --fix",
  "*.{css,sass,scss,md,mdx,html}": "stylelint --cache --fix --ignore-path .gitignore",
  "*.{md,mdx}": "markdownlint --fix --ignore-path .gitignore"
}
