name: Build, tag and push docker image to ghcr.io

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  workflow_call:
    inputs:
      # The environment with the GH secrets environment.
      environment:
        required: true
        type: string
      # The name of the package under which the docker image will be published on GH Packages.
      package_name:
        required: true
        type: string
      # The path to the project in the monorepo.
      project_path:
        required: true
        type: string
      # The port used for testing. This is not a required input, and it defaults to '1341'.
      # This value is added, so you can test the image after it's built in test mode and by doing a health-check.
      test_port:
        required: false
        default: '1341'
        type: string
      # The boolean that helps to determine whether to perform a health check. This is not a required input and defaults to false.
      health_check:
        required: false
        default: false
        type: boolean
      # The tag under which the image is built, it should align with the name in the project command docker:build
      local_tag:
        required: true
        type: string
      enterprise:
        required: false
        type: boolean
    outputs:
      docker_image:
        description: 'The image that was built'
        value: ${{ jobs.reusable_docker.outputs.docker_image }}

jobs:
  job-setup:
    runs-on: ubuntu-latest
    outputs:
      dockerName: ${{ steps.set-docker-name.outputs.dockerName }}
    steps:
      - id: set-docker-name
        run: |
          if [[ "${{ inputs.enterprise }}" == "true" ]]; then
            echo "dockerName=${{ inputs.package_name }}-ee" >> "$GITHUB_OUTPUT"
          else
            echo "dockerName=${{ inputs.package_name }}" >> "$GITHUB_OUTPUT"
          fi

  reusable_docker:
    needs: [job-setup]
    runs-on: ubuntu-latest
    timeout-minutes: 80
    environment: ${{ inputs.environment }}
    outputs:
      docker_image: ${{ steps.save-image-to-output.outputs.IMAGE }}
    permissions:
      contents: read
      packages: write
      deployments: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.enterprise }}
          token: ${{ secrets.SUBMODULES_TOKEN }}

      - name: Prepare
        id: prepare
        shell: bash
        run: |
          if [[ "${{ inputs.enterprise }}" == "true" ]]; then
            service=${{ inputs.package_name }}
            servicename=${service#*/} 
            echo "SERVICE_NAME=$servicename-ee" >> "$GITHUB_OUTPUT"
          else
            service=${{ inputs.package_name }}
            servicename=${service#*/} 
            echo "SERVICE_NAME=$servicename" >> "$GITHUB_OUTPUT"
          fi

      - uses: ./.github/actions/setup-project
        with:
          slim: 'true'
          submodules: ${{ inputs.enterprise }}

      - uses: crazy-max/ghaction-setup-docker@v2
        with:
          version: v24.0.6
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: 'image=moby/buildkit:v0.13.1'

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build, tag and push docker image to ghcr.io
        id: build-image
        env:
          BULL_MQ_PRO_NPM_TOKEN: ${{ secrets.BULL_MQ_PRO_NPM_TOKEN }}
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ needs.job-setup.outputs.dockerName }}
          LOCAL_TAG: ${{ inputs.local_tag }}
          IMAGE_TAG: ${{ github.sha }}
          ENV_TAG: ${{ vars.DOCKER_ENV_TAG }}
          PROJECT_PATH: ${{ inputs.project_path }}
#          DOCKER_BUILD_ARGUMENTS: >
#            --cache-from type=registry,ref=ghcr.io/novuhq/cache:build-cache-${{ steps.prepare.outputs.SERVICE_NAME }}-${{ vars.DOCKER_ENV_TAG }}
#            --cache-to type=registry,ref=ghcr.io/novuhq/cache:build-cache-${{ steps.prepare.outputs.SERVICE_NAME }}-${{ vars.DOCKER_ENV_TAG }},mode=max
#            --platform=linux/amd64
        run: |
          BULL_MQ_PRO_NPM_TOKEN=${{ secrets.BULL_MQ_PRO_NPM_TOKEN }}
          echo -n $BULL_MQ_PRO_NPM_TOKEN | wc -c
          cd $PROJECT_PATH && npm run docker:build
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$ENV_TAG
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:latest
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$ENV_TAG
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:latest

      - name: Save image to output
        id: save-image-to-output
        env:
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ steps.prepare.outputs.SERVICE_NAME }}
          IMAGE_TAG: ${{ github.sha }}
          OUTPUT_NAME: ${{ needs.job-setup.outputs.dockerName }}
        run: |
          echo "docker_image=ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG" >> "$GITHUB_OUTPUT"

      - name: Health check test
        id: health-check
        if: ${{ inputs.health_check == 'true' && steps.build-image.outcome == 'success' }}
        env:
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ steps.prepare.outputs.SERVICE_NAME }}
          LOCAL_TAG: ${{ inputs.local_tag }}
          IMAGE_TAG: ${{ github.sha }}
          TEST_PORT: ${{ inputs.test_port }}
          GH_ACTOR: ${{ github.actor }}
          GH_PASSWORD: ${{ secrets.GH_PACKAGES }}
        run: |
          echo $GH_PASSWORD | docker login ghcr.io -u $GH_ACTOR --password-stdin
          docker run --network=host --name $LOCAL_TAG -dit --env NODE_ENV=test ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker run --network=host appropriate/curl --retry 10 --retry-delay 5 --retry-connrefused http://127.0.0.1:$TEST_PORT/v1/health-check | grep 'ok'
