# This is a basic workflow to help you get started with Actions

name: Deploy EMBED

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_call:

jobs:
  # This workflow contains a single job called "build"
  deploy_embed:
    if: ${{ contains(inputs.env, 'dev') }}
    uses: ./.github/workflows/reusable-embed-deploy.yml
    with:
      environment: Development
      widget_url: https://dev.widget.novu.co
      netlify_deploy_message: Dev deployment
      netlify_alias: dev
      netlify_gh_env: development
      netlify_site_id: 22682666-3a8d-40be-af26-017bfadf5ae9
    secrets: inherit

  deploy_embed_eu:
    if: ${{ !contains(inputs.env, 'dev') }}
    uses: ./.github/workflows/reusable-embed-deploy.yml
    with:
      environment: Production
      widget_url: https://eu.widget.novu.co
      netlify_deploy_message: Production deployment
      netlify_alias: prod
      netlify_gh_env: Production
      netlify_site_id: 0c830b50-df83-480b-ba36-a7f3176efcc8
    secrets: inherit

  deploy_embed_us:
    if: ${{ !contains(inputs.env, 'dev') }}
    uses: ./.github/workflows/reusable-embed-deploy.yml
    with:
      environment: Production
      widget_url: https://widget.novu.co
      netlify_deploy_message: Production deployment
      netlify_alias: prod
      netlify_gh_env: Production
      netlify_site_id: 0689c015-fca0-4940-a26d-3e33f561bc48
    secrets: inherit

