name: Build, tag and push docker image to ghcr.io

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  workflow_call:
    inputs:
      # The environment with the GH secrets environment.
      environment:
        required: true
        type: string
      # The name of the package under which the docker image will be published on GH Packages.
      package_name:
        required: true
        type: string
      # The path to the project in the monorepo.
      project_path:
        required: true
        type: string
      # The port used for testing. This is not a required input, and it defaults to '1341'.
      # This value is added, so you can test the image after it's built in test mode and by doing a health-check.
      test_port:
        required: false
        default: '1341'
        type: string
      # The boolean that helps to determine whether to perform a health check. This is not a required input and defaults to false.
      health_check:
        required: false
        default: false
        type: boolean
      # The tag under which the image is built, it should align with the name in the project command docker:build
      local_tag:
        required: true
        type: string
      # The environment tag. Possible values are dev, stg, and prod. This is not a required input of type string.
      env_tag:
        required: false
        type: string
      enterprise:
        required: false
        type: boolean
      bullmq_secret:
        description: 'Bullmq secret api token'
        required: true
        type: string
    outputs:
      docker_image:
        description: 'The image that was built'
        value: ${{ jobs.reusable_docker.outputs.docker_image }}

jobs:
  job-setup:
    runs-on: ubuntu-latest
    outputs:
      platforms: ${{ steps.set-platforms.outputs.platforms }}
      dockerName: ${{ steps.set-docker-name.outputs.dockerName }}
    steps:
      - id: set-docker-name
        run: |
          if [[ "${{ inputs.enterprise }}" == "true" ]]; then
            echo "::set-output name=dockerName::${{ inputs.package_name }}-ee"
          else
            echo "::set-output name=dockerName::${{ inputs.package_name }}"
          fi

      - id: set-platforms
        run: |
          if [[ "${{ inputs.environment }}" == "Production" ]]; then
            echo "::set-output name=platforms::linux/amd64,linux/arm64"
          else
            echo "::set-output name=platforms::linux/amd64"
          fi

  reusable_docker:
    needs: [job-setup]
    runs-on: ubuntu-latest
    timeout-minutes: 80
    environment: ${{ inputs.environment }}
    outputs:
      docker_image: ${{ steps.save-image-to-output.outputs.IMAGE }}
    permissions:
      contents: read
      packages: write
      deployments: write
      id-token: write
    steps:

      - uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.enterprise }}
          token: ${{ secrets.SUBMODULES_TOKEN }}

      - name: Prepare
        id: prepare
        shell: bash
        run: |
          service=${{ inputs.package_name }}
          servicename=${service#*/} 
          echo "::set-output name=SERVICE_NAME::$servicename"

      - uses: ./.github/actions/setup-project
        with:
          slim: 'true'
          submodules: ${{ inputs.enterprise }}

      - uses: crazy-max/ghaction-setup-docker@v2
        with:
          version: v24.0.6
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ needs.job-setup.outputs.platforms }}

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: 'image=moby/buildkit:v0.13.1'

      - name: Build, tag, and push image to ghcr.io
        id: build-image
        if: ${{ inputs.env_tag == 'dev' || inputs.env_tag == 'stg' }}
        env:
          BULL_MQ_PRO_NPM_TOKEN: ${{ inputs.bullmq_secret }}
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ needs.job-setup.outputs.dockerName }}
          LOCAL_TAG: ${{ inputs.local_tag }}
          IMAGE_TAG: ${{ github.sha }}
          ENV_TAG: ${{ inputs.env_tag }}
          PROJECT_PATH: ${{ inputs.project_path }}
          GH_ACTOR: ${{ github.actor }}
          GH_PASSWORD: ${{ secrets.GH_PACKAGES }}
          DOCKER_BUILD_ARGUMENTS: >
            --cache-from type=registry,ref=ghcr.io/novuhq/cache:build-cache-${{ needs.prepare.outputs.SERVICE_NAME }}-${{ inputs.env_tag }}
            --cache-to type=registry,ref=ghcr.io/novuhq/cache:build-cache-${{ needs.prepare.outputs.SERVICE_NAME }}-${{ inputs.env_tag }},mode=max
            --platform=${{ needs.job-setup.outputs.platforms }}
            --output=type=image,name=ghcr.io/novuhq/${{ needs.prepare.outputs.SERVICE_NAME }},push-by-digest=true,name-canonical=true
        run: |
          echo -n $GH_PASSWORD | wc -c
          echo $GH_PASSWORD | docker login ghcr.io -u $GH_ACTOR --password-stdin
          BULL_MQ_PRO_NPM_TOKEN=${{ secrets.BULL_MQ_PRO_NPM_TOKEN }}
          echo -n $BULL_MQ_PRO_NPM_TOKEN | wc -c
          cd $PROJECT_PATH && npm run docker:build
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$ENV_TAG
          echo "pushing to ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG"
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$ENV_TAG

      - name: Production build, tag, and push image to ghcr.io
        id: build-prod-image
        if: ${{ inputs.env_tag == 'prod' }}
        env:
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ needs.job-setup.outputs.dockerName }}
          LOCAL_TAG: ${{ inputs.local_tag }}
          IMAGE_TAG: ${{ github.sha }}
          ENV_TAG: ${{ inputs.env_tag }}
          PROJECT_PATH: ${{ inputs.project_path }}
          GH_ACTOR: ${{ github.actor }}
          GH_PASSWORD: ${{ secrets.GH_PACKAGES }}
          DOCKER_BUILD_ARGUMENTS: >
            --cache-from type=registry,ref=ghcr.io/novuhq/cache:build-cache-${{ steps.prepare.outputs.SERVICE_NAME }}-${{ inputs.env_tag }}
            --cache-to type=registry,ref=ghcr.io/novuhq/cache:build-cache-${{ steps.prepare.outputs.SERVICE_NAME }}-${{ inputs.env_tag }},mode=max
            --platform=${{ steps.job-setup.outputs.platforms }}
            --output=type=image,name=ghcr.io/novuhq/${{ steps.prepare.outputs.SERVICE_NAME }},push-by-digest=true,name-canonical=true
        run: |
          echo $GH_PASSWORD | docker login ghcr.io -u $GH_ACTOR --password-stdin
          BULL_MQ_PRO_NPM_TOKEN=${{ secrets.BULL_MQ_PRO_NPM_TOKEN }}
          echo -n $BULL_MQ_PRO_NPM_TOKEN | wc -c
          cd $PROJECT_PATH && npm run docker:build
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$ENV_TAG
          docker tag $LOCAL_TAG ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:latest
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$ENV_TAG
          docker push ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:latest

      - name: Save image to output
        id: save-image-to-output
        env:
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ steps.prepare.outputs.SERVICE_NAME }}
          IMAGE_TAG: ${{ github.sha }}
          OUTPUT_NAME: ${{ needs.job-setup.outputs.dockerName }}
        run: |
          echo "::set-output name=docker_image::ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG"

      - name: Health check test
        id: health-check
        if: ${{ inputs.health_check == 'true' && (steps.build-image.outcome == 'success' || steps.build-prod-image.outcome == 'success') }}
        env:
          REGISTRY_OWNER: novuhq
          DOCKER_NAME: ${{ steps.prepare.outputs.SERVICE_NAME }}
          LOCAL_TAG: ${{ inputs.local_tag }}
          IMAGE_TAG: ${{ github.sha }}
          TEST_PORT: ${{ inputs.test_port }}
          GH_ACTOR: ${{ github.actor }}
          GH_PASSWORD: ${{ secrets.GH_PACKAGES }}
        run: |
          echo $GH_PASSWORD | docker login ghcr.io -u $GH_ACTOR --password-stdin

          docker run --network=host --name $LOCAL_TAG -dit --env NODE_ENV=test ghcr.io/$REGISTRY_OWNER/$DOCKER_NAME:$IMAGE_TAG
          docker run --network=host appropriate/curl --retry 10 --retry-delay 5 --retry-connrefused http://127.0.0.1:$TEST_PORT/v1/health-check | grep 'ok'
